* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}

.light {
  --color-primary: #008577;
  --color-bg: white;
  --color-text: #1F1E1C;
}

.dark {
  --color-primary: #4F8DC4;
  --color-bg: #1F1E1C;
  --color-text: white;
}


.color-mode {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 2rem;
}

.color-mode__button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.titulo {
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

}

.contador {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 80px;
}

.koke {
  text-align: center;
  height: 300px;
}

.koke__imagen {
  width: auto;
  max-height: 300px;
  border-radius: 10%;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.7));
  transition: all 10ms ease-in-out;
  -webkit-transition: all 10ms ease-in;

  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

}

.koke__imagen:active {
  margin-top: 50px;
  max-height: 250px;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.7));

}

.cambiar-skin {
  font-size: 1.3rem;
  margin-top: 30px;
  text-align: center;
}

.cambiar-skin__icon {
  color: var(--color-text);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.skin-modal {
  display: inline-block;
  margin-top: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* padding: 20px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--color-text);
  /* border: 5px solid var(--color-primary); */
  border-radius: 50px;
  }

.oculto {
  display: none;
}

.skin-modal__lista {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  padding: 0px;
}

.skin-modal__item {
  margin-left: 5px;
  margin-right: 5px;
}

.skin-modal__img {
  cursor: pointer;
  width: auto;
  height: 40px;
  -webkit-tap-highlight-color: transparent;
  /* filter: drop-shadow(2px 2px 0px white); */
}

.color-primary {
  color: var(--color-primary);
}

@media (hover: hover) {
  .titulo:hover {
    color: var(--color-primary);
  }

  .cambiar-skin__icon:hover {
    color: var(--color-primary);
  }
}
