* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.titulo {
  text-align: center;
  font-size: 1.5rem;
}

.contador {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 80px;
}

.koke {
  text-align: center;
  height: 300px;
}

.koke__imagen {
  width: auto;
  max-height: 300px;
  border-radius: 10%;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.7));
  transition: all 10ms ease-in-out;
  -webkit-transition: all 10ms ease-in;

  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

}

.koke__imagen:active {
  margin-top: 10px;
  max-height: 250px;
}

.cambiar-skin {
  font-size: 1.3rem;
  margin-top: 30px;
  text-align: center;
}

.cambiar-skin__icon {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

}

.skin-modal {
  width: 400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  }

.oculto {
  display: none;
}

.skin-modal__lista {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  padding: 0px;
}

.skin-modal__img {
  cursor: pointer;
  width: auto;
  height: 40px;
}
